@import '../../styles/variables';

.header {
    height: 120px;
    align-self: stretch;
    padding: 0;
    top: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.text {
    color: #000;
    font-size: 23px;
    text-align: center;
}

.logo {
    position: absolute;
    align-self: center;
    z-index: -1;
}

.button {
    background-color: #fff;
    width: 70px;
    height: 50px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.buttonLeft {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttonRight {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icon {
    width: 25px;
    height: 25px;
}
