.container {
  flex: 1;
  margin: 10px 30px;
}

.paragraph {
  font-size: 15px;
  text-align: center;
}

.checkboxWrapper {
  margin: 0px 0px 40px 0px;
  width: 100px;
  height: 100px;
}

.vinkje {
  width: 35px;
  height: 35px;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 3;
}

.ongevalBackImg {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.checkboxOneBase {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 5px solid rgba(255, 173, 138, 1);
  z-index: 2;
}

.checkboxOneChecked {
  border-color: #52bb1d;
  background-color: rgba(255, 173, 138, 0.65);
}

.checkboxTwoBase {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 5px solid rgba(255, 212, 115, 1);
  z-index: 2;
}

.checkboxTwoChecked {
  border-color: #52bb1d;
  background-color: rgba(255, 212, 115, 0.65);
}

.checkboxThreeBase {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 5px solid rgba(131, 220, 218, 1);
  z-index: 2;
}

.checkboxThreeChecked {
  border-color: #52bb1d;
  background-color: rgba(131, 220, 218, 0.65);
}
.checkboxFourBase {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 5px solid rgba(184, 238, 191, 1);
  z-index: 2;
}

.checkboxFourChecked {
  border-color: #52bb1d;
  background-color: rgba(184, 238, 191, 0.65);
}

.checkboxFiveBase {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-width: 5px;
  border: 5px solid rgba(198, 145, 214, 1);
  z-index: 2;
}

.checkboxFiveChecked {
  border-color: #52bb1d;
  background-color: rgba(198, 145, 214, 0.65);
}

.appContainer {
  flex: 1;
  align-items: center;
}

.appTitle {
  margin: 16px 0px;
  font-weight: bold;
  font-size: 24px;
}

.checkboxContainer {
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
