.container {
    display: flex;
    padding: 25px 0 0 0;
    position: absolute;
    width: 100%;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sub_title {
    font-size: 17px;
    margin-bottom: 25px;
}

.time_container {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-bottom-color: rgb(62, 62, 62);
    border-bottom-width: 1px;
}

.time_title {
    font-weight: bold;
    font-size: 16px;
}

.time_picker {
    width: 75px;
}
