@import '../../styles/variables';

.getStartedContainer {
    margin: 0 30px;
}

.homeScreenFilename {
    margin: 7px 0;
}

.codeHighlightContainer {
    border-radius: 3px;
    padding: 0 4px;
}

.getStartedText {
    font-size: 17px;
    line-height: 24px;
}

.helpContainer {
    margin: 15px 20px 0 20px;
    align-items: center;
}

.helpLink {
    padding: 15px 0;
}

.helpLinkText {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 10px;
}

.bigtitle {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
}
