@import '../../styles/variables';

body {
  background: #333333;
}
.inputBox {
  border-bottom-width: 1;
  border-bottom-color: '#ccc';
  padding-bottom: 10px;
  margin-bottom: 10;
  min-width: 18rem;
}
