@import '../styles/variables';

.container {
  flex: 1;
  align-items: center;
  padding: 20px;
}

.report_screen_buttons {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.separator {
  margin: 30px 0;
  width: 80%;
}

.link {
  margin-top: 15px;
  padding: 15px 0;
}

.linkText {
  font-size: 14px;
  color: #2e78b7;
}

.logo {
  width: 100%;
}
