.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.hiddenSpace {
  visibility: hidden;
  width: 25;
}

.title {
  text-align: center;
  margin-left: 20px;
}

.buttonInformation {
  margin-left: 20px;
}
