.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.hiddenSpace {
  visibility: hidden;
  width: 25;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.picker {
  height: 50%;
  width: 50%;
}
