.container {
    flex: 1;
}

.title {
    text-align: center;
    margin-left: 20px;
    //font-size: medium;
}

.mainImageContainer {
    border-width: 2px;
    border-color: black;
    position: relative;
    align-self: center;
    border-radius: 10px;
    width: 200px;
    height: 50%;
    margin-top: 20px;
}

.mainImage{
    //height: auto;
    //width: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
}

.smallPressables{
    flex-direction: row;
}

.deleteButton{
    background-color: #e1616188;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    align-self: flex-end;
    position: absolute;
}

.addButton{
    background-color: #6AC580;
    border-radius: 10px;
    margin: 4px;
    padding: 7px;
}

.restartButton{
    background-color: #E16161;
    border-radius: 10px;
    margin: 4px;
    padding: 7px;
}

.popupContainer{
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.modal{
    margin: 20px;
    background-color: rgba(177, 174, 174, 0.842);
    border-radius: 20px;
    padding: 35px;
    align-items: "center";
}