.container {
  flex: 1;
  width: 100%;
  align-items: center;
}

.titleContainer {
  padding-top: 20px;
  flex-direction: row;
}

.mainImageContainer {
  position: relative;
  background-color: #e3e2e2;
  align-self: center;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  margin-top: 20px;
}

.mainImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.flatListContainer {
  flex-direction: row;
}

.smallPressablesContainer {
  flex-direction: row;
  width: 80%;
  margin-top: 5px;
  position: relative;
  align-self: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.smallImagePressable {
  width: 50px;
  height: 50px;
  margin: 4px;
}

.smallImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.deleteButton {
  background-color: #e1616188;
  border-radius: 10px;
  padding: 5px;
  margin: 4px;
  align-self: flex-end;
  position: absolute;
}

.addButton {
  background-color: #6ac580;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 4px;
  padding: 7px;
}

.restartButton {
  background-color: #e16161;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 4px;
  padding: 7px;
}

// For modal
.popupContainer {
  flex: 1;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(176, 175, 175, 0.584);
}

.modal {
  margin: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  align-items: center;
}

.modalButton {
  background-color: #6ac580;
  border-radius: 10px;
  min-width: 70%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.modalButtonCancel {
  background-color: #e16161;
  border-radius: 10px;
  min-width: 70%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.modalText {
  text-align: center;
  font-size: 18px;
}
