@import '../../styles/variables';

.modalText {
    margin: 15px;
    font-size: 25;
    text-align: center;
}

.closeButton {
    background-color: #d6d6d6;
    border-radius: 15px;
    padding: 20px;
}
