name: CI

on:
  push:
    branches: [development]
  pull_request:
    branches: [master, staging, development]
  workflow_dispatch:

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run Prettier
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --check .
